body{
  background-color: #CCC;
  padding-left: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

div.topbar {
    position: sticky;
    background-color: #222;
    top: 0;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
}

div.toprow {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 10;
    width: 100%;   
}

div.sidebar{
    position: sticky;
    
    left: 0;
    width: 50px;
    height: 100%;
    display: flex;
    
}

div.sidecol {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 10;
    flex-direction: column;
    width: 100%;        
}

button {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid #666;
}

.nav {
	width: 50%;
	background-color: #222;
}
.nav:hover {
	width: 100%;
	background-color: #BBB;
}
button > p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    line-height: 10%;
}
switch {
    width: auto;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: 1px solid #666;
}

switch > p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    text-align: center;
    line-height: 10%;
}

switch.stateoff{
    background-color: #D44;
    border: 2px solid #B22;
    color: #000;
}

switch.stateon{
    background-color: #44D;
    border: 2px solid #22B;
    color: #FFF;
}

switch:hover{
    opacity: 75%;

} 

div.inputbox {
    padding-left: 1%;
    width: 100%;
    color: #AAA;    
    align-content: stretch;
    justify-content: space-evenly;
    border: 1px solid #666; 
}
 
.can {
    border: solid 2px #000;
    background-color: #DDD;
    position: relativ;
    height: 80%;
    width: 80%;
    margin: auto;
}


