{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Mainpage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body class="ow-theme">


<div class="list-main" id="list">
    <div class="title theme-head theme-title">
    <p>TITLE</p>
    </div>

</div>
<script>
function addChildDiv(parent, class_, text, child_id){
	var parent = document.getElementById(parent);
    var child = document.createElement("div");
    if (text != ""){
    	child.innerHTML = "<p>"+text+"</p>";
    }
    child.setAttribute('class', class_);
    if (child_id != ""){
    	child.setAttribute('id', child_id);
    }
	parent.appendChild(child);
}

function createFlexboxList(parent_id, keys, obj){
    for (let i in keys){
	    let key = keys[i];
        addChildDiv(parent_id, "row theme-head", "", parent_id+"cols");
        addChildDiv(parent_id+"cols", "col", "", parent_id+key+"col");
        var heading = key.charAt(0).toUpperCase() + key.slice(1);
        addChildDiv(parent_id+key+"col", "theme theme-head", heading, "");
        for (let j in obj){
        	var item = obj[j];
            addChildDiv(parent_id+key+"col", "theme theme-body", item[key], "");
        }
    }
}

function createFlexboxGroupedList(group_obj, keyList){
	var body = document.getElementById("body");
	for (let i in group_obj){
    	let groupObj = group_obj[i];
        let groupId = groupObj.name;
        console.log(groupId);
        addChildDiv("body", "list-main theme-mainbg", "", groupId);
        addChildDiv(groupId, "title theme-head theme-title", groupId, "");
        let Obj = groupObj.obj;
        console.log(Obj);
        createFlexboxList(groupId, keyList, Obj);
        addChildDiv(groupId, "end theme-head theme-title", " ", "");
    }
}

function flexbox_keys(id, keys, obj){
	var parent = document.getElementById(id);
    for (let i in keys){
    	addChildDiv(id)
        let key = keys[i];
    }
    var head = document.createElement("div");
    head.innerHTML = "<p>"+key+"</p>";
	head.setAttribute('class', "theme-head");
    column.appendChild(head);

}
function flexbox_col(id, key, obj){
	var column = document.getElementById("A");
    var head = document.createElement("div");
    head.innerHTML = "<p>"+key+"</p>";
	head.setAttribute('class', "theme-head");
    column.appendChild(head);
    for (let i in obj) {
    	let body_col = document.createElement("div");
        body_col.innerHTML = "<p>"+obj[i].name+"</p>";
        body_col.setAttribute('class', "theme-body");
        column.appendChild(body_col);
    }
}
createFlexboxList("list", {{ keys|safe }}, {{ data|safe }});
test();

</script>
</body>
</html>