{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
<form method="post" id="login">{% csrf_token %}
<div id="form" class="form"> </div></form>
<script>
function loginForm(fields){
	let formDiv = document.getElementById('form');
	var ref = "{{ href|safe }}";
	if (ref != "/") {
	    let form = document.getElementById('login');
	    form.action = ref;
	    }
	buildTitle(formDiv);

	for (let i in fields){
    	let field = fields[i];
        formDiv.appendChild(buildInput(field[0], field[1], field[2]));
    }
    formDiv.appendChild(buildSubmit());
}

function buildTitle(parent){
	let flex = document.createElement('div');
    flex.className = "form-input";
    flex.innerHTML = "{{ title|safe }}";
	parent.appendChild(flex);
}

function buildSubmit(){
	let flex = document.createElement('div');
    flex.className = "form-input";
	let submit = document.createElement('input');
    submit.type = "submit";
    submit.value = "{{ submit|safe }}";
	flex.appendChild(submit);
	return flex
}

function buildInput(type, name, value){
	let flex = document.createElement('div');
    flex.className = "form-input";
    let inputField = document.createElement('input');
    inputField.type = type;
    inputField.name = name;
    inputField.value = value;
    flex.appendChild(inputField);
    return flex;
}


</script>


<script>
    loginForm({{ fields|safe }});
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>

</body>
</html>