<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
        <link rel="stylesheet" href="http://printerwatch/static/css/style.css">
    <script src="{% static 'js/formcreator.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <style>
           .headInput{
            padding: 0;
			margin: auto;

			width: 90%;
			background-color: grey;

            color: lightorange;
			}
            .canvas{
            margin: auto;
            padding-top: 5px;
            width: 90%;
            border: 0px solid lightgrey;
            border-radius: 4px;
            background-color: lightgrey;
            }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body id="body">
<div  class="headInput" id="formContainer">
<script> createForm({{ form|safe }}); </script>
<input type="hidden" form="inputForm" name="user" id="user" value="{{ user }}">
</div>

<!--
    <form action="http://printerwatch/subsite/analytics/">
        <div class="headInput">
    <label for="group"> grouped by:</label>
        <select id="group" name="group" title="if None is selected its recommended to use filter">
            <option value="{{ group }}">{{ group }}</option>
            <option value="Manufacture">Manufacture</option>
            <option value="Model">Model</option>
            <option value="Serial_No">None</option>
        </select>
    <label for="value"> > plot value:</label>
        <select id="value" name="value">
            <option value="{{ value }}">{{ value }}</option>
            <option value="BW">Black/White</option>
            <option value="BCYM">Colored</option>
            <option value="CostPerBW">CostPerBW</option>
            <option value="CostPerBCYM">CostPerBCYM</option>
            <option value="TonerY">TonerY</option>
            <option value="TonerM">TonerM</option>
        </select>
    <label for="filter"> > filter : </label>
        <input id="filter" type="text" name="filter" value="{{ filter }}">
        <input type="hidden" id="user" name="user" value="{{ user }}">
        <input type="submit" value=">>">

        </div>
    </form>
    -->

    <div class="canvas">
    <canvas id="myChart" width="400" height="200"></canvas>
     </div>

<script>


    const config = {{ conf|safe }};


</script>
<script>
    window.onload= function make_chart(){
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myChart = new Chart(ctx, config);
    };

</script>

</body>
</html>
