<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>
        <link rel="stylesheet" href="http://printerwatch/static/css/style.css">
    <script src="{% static 'js/formcreator.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <style>
           .headInput{
            padding: 0;
			margin: auto;

			width: 90%;
			background-color: grey;

            color: lightorange;
			}
            .canvas{
            margin: auto;
            padding-top: 5px;
            width: 90%;
            border: 0px solid lightgrey;
            border-radius: 4px;
            background-color: lightgrey;
            }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body id="body">
<div  class="headInput" id="formContainer">
<script> createForm({{ form|safe }}); </script>
<input type="hidden" form="inputForm" name="user" id="user" value="{{ user }}">
</div>

    <div class="canvas">
    <canvas id="myChart" width="400" height="200"></canvas>
     </div>

<script>

    function create_canvas(){
    let d = document.createElement("div")
    d.className = "canvas";
    let para =
    const config = {{ conf|safe }};


</script>
<script>
    window.onload= function make_chart(){
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myChart = new Chart(ctx, config);
    };

</script>

</body>
</html>
