<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CartridgeMonitor</title>
    <link rel="stylesheet" href="http://printerwatch/static/css/style.css">
    <script src="{% static 'js/formcreator.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <style>
           .headInput{
            padding: 0;
			margin: auto;
			width: 90%;

			background-color: grey;
            text-align: center;#text-size: 14;
            color: lightorange;
			}
			.canvas{
            margin: auto;
            top: 20px;
            padding-top: 5px;
            width: 90%;
                border: 0px solid lightgrey;
            border-radius: 4px;
            background-color: lightgrey;
            }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body onload="insertRow()">
<!--
<p>{{ debug }}</p>
-->
<div  class="headInput" id="formContainer">
<script> createForm({{ form|safe }}); </script>
<input type="hidden" form="inputForm" name="user" id="user" value="{{ user }}">
</div>


<div class="canvas">
    <canvas id="myChart" width="400" height="200" style="padding-top:20px"></canvas>
</div>

<div class='scoreboard'>
        <table id="myTable" class='monitorTable'>
		<thead id="aHeader">
        <tr id="headRow">
            <td>Cart.Types</td>
            <td># Stored</td>
			<td><p id="timeVar">{{days}} days forecast</p></td>
			<td>expected # in store</td>
			<td>add to storage</td>
		</tr>

		</thead>
		<tbody id="tableBody">

        </tbody>

        </table>
</div>

<script>


    const config = {
    type: 'line',
    data: {
        labels: {{ index|safe }},
        datasets: {{ sets|safe }}
        },
    options: {}
    };
	function insertRow(){

		const db = JSON.parse("{{data|escapejs}}");

		for(let i of db){

		var tBody = document.getElementById("tableBody");
		var row = tBody.insertRow(0);
		row.className = "tBodyRow"

		var typCell = row.insertCell(0);
		typCell.innerHTML = "<a href='http://printerwatch/subsite/monitor?filter="+i.cTyp+"&user={{ user }}' target='content_frame'>\
		<div class='detailLink' style='background-color:black'>"+i.cTyp+"</div></a>";

		var storeCell = row.insertCell(1);
        storeCell.innerHTML = i.cStore;

		var lowCell = row.insertCell(2);
        lowCell.innerHTML = i.cLow;

		var newCell = row.insertCell(3);
        newCell.innerHTML = i.cNew;

		var addCell = row.insertCell(4);
        addCell.innerHTML = '<form action="http://printerwatch/subsite/storage_tracker/">\
        <input type="text" id="'+i.cTyp+'" name="num">\
        <input type="hidden" id="'+i.cTyp+'" name="cart" value="'+i.cTyp+'">\
        <input type="hidden" id="user" name="user" value="{{ user }}">\
        <input type="submit" value="[+]"></form>';
		}}
</script>
<script>
    window.onload= function make_chart(){
    var ctx = document.getElementById('myChart').getContext('2d');
    window.myChart = new Chart(ctx, config);
    insertRow()
    };

</script>

</body>
</html>
