<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://printerwatch/subsite/config/?user={{Ur}}">
    <div  class="headInput">
        <br>
        <p>config page for {{ user }}</p>

        <br>

    <label for="details"> subpage :</label>
        <select id="details" name="details" title="">
            <option value="total">total</option>
            <option value="week">week</option>
            <option value="month">month</option>
        </select>
        <input type="hidden" id="user" name="user" value="{{ user }}">
        <input type="submit" value=">>">

    </div>
</form>
</body>
</html>