<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>

    <link rel="stylesheet" href="http://printerwatch/static/css/style.css">
    <style>
           .headInput{
            padding: 0;
			margin: auto;
			margin-bottom: 0;
			width: 90%;
			height: 100%;
			background-color: lightgrey;
            text-align: center;
            text-size: 14;
            color: lightorange;
			}

    </style>

</head>
<body onload="insertRow()">
<form action="http://printerwatch/subsite/details/">
    <div  class="headInput">
        <br>
        <p>{{ h1 }}</p>
        <p>{{ h2 }}</p>
        <br>
        <label for="time"> time periode per entry :</label>
        <select id="time" name="time" title="">
            <option value="{{ times }}">{{ times }}</option>
            <option value="total">daily</option>
            <option value="week">week</option>
            <option value="month">month</option>
        </select>
        <label for="vals"> grouped values :</label>
        <select id="vals" name="vals" title="">
            <option value="seperated">seperated</option>
            <option value="grouped">grouped</option>
        </select>

        <input type="hidden" id="user" name="user" value="{{ user }}">
        <input type="submit" value=">>">
    <label for="override-this"> Select attr to override:</label>
        <select id="override-this" name="override-this" title="Overriding a attr will only affect displayed values">
            <option value="Notes">Notes</option>
            <option value="Serial_No">Serial_No</option>
            <option value="Contact">Contact</option>
            <option value="Location">Location</option>
        </select>
    <label for="with"> with = </label>
        <input id="with" type="text" name="with">
        <input type="hidden" id="id" name="id" value="{{ id }}">
        <input type="submit" value=">>">

    </div>
</form>
<div class='scoreboard'>
        <table id="myTable" class='monitorTable'>
		<thead id="aHeader">
        <tr id="headRow">
            <td>Time</td>
            <td>Pages BW</td>
			<td>Pages BCYM</td>
			<td>Toner BK</td>
			<td>Toner C</td>
            <td>Toner Y</td>
            <td>Toner M</td>
        </tr>

		</thead>
		<tbody id="tableBody">

        </tbody>

        </table></div>
     <script>
		function insertRow(){
		const db = JSON.parse("{{data|escapejs}}");

		for(let i of db){
		var tBody = document.getElementById("tableBody");
		var row = tBody.insertRow(0);
		row.className = "tBodyRow"

		var TimeCell = row.insertCell(0);
		TimeCell.innerHTML = i.Time_Stamp;

		var BWCell = row.insertCell(1);
        BWCell.innerHTML = i.PagesBW;

		var BCYMCell = row.insertCell(2);
        BCYMCell.innerHTML = i.PagesBCYM

		var BKCell = row.insertCell(3);
        BKCell.innerHTML = i.TonerBK;

		var CCell = row.insertCell(4);
		CCell.innerHTML = i.TonerC;

		var YCell = row.insertCell(5);
		YCell.innerHTML = i.TonerY;

		var MCell = row.insertCell(6);
		MCell.innerHTML = i.TonerM;
		}}


        function xfunc(){
        alert("Hi")
        }
        </script>

</body>
</html>