<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrinterMonitor</title>

    <link rel="stylesheet" href="http://printerwatch/static/css/style.css">
    <script src="{% static 'js/formcreator.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <style>
           .headInput{
            padding: 0;
			margin: auto;
			width: 90%;

			background-color: darkgrey;
            text-align: center;#text-size: 14;
            color: lightorange;
			}
    </style>

</head>
<body onload="insertRow()" id="body">
<div  class="headInput" id="formContainer">
<script> createForm({{ form|safe }}); </script>
<input type="hidden" form="inputForm" name="user" id="user" value="{{ user }}">
</div>
<!--
<form action="http://printerwatch/subsite/monitor/">

        <label class="label">Search for Printer with </label>
        <input type="text" id="filter" name="filter" value="{{ filter }}">
        <label class="label"> in there dataset. </label>
        <input type="hidden" id="user" name="user" value="{{ user }}">
        <input type="submit" value="Go!">

</form>
-->
<div class='scoreboard'>
        <table id="myTable" class='monitorTable'>
		<thead id="aHeader">
          <tr id="headRow">
            <td>S.No</td>
            <td>Device</td>
			<td>IP</td>
			<td>User/Location</td>
			<td>Toner</td>
			<td>Status</td>
            <td>Notes</td>
			<td>Details</td></tr>
		</thead>
		<tbody id="tableBody">

        </tbody>
        </table>
</div>
     <script>
		function insertRow(){
		const db = JSON.parse("{{data|escapejs}}");

		for(let i of db){
		var tBody = document.getElementById("tableBody");
		var row = tBody.insertRow(0);
		row.className = "tBodyRow"

		var serialCell = row.insertCell(0);
		serialCell.innerHTML = i.sno;

		var deviceCell = row.insertCell(1);
        deviceCell.innerHTML = i.device;

		var ipCell = row.insertCell(2);
        ipCell.innerHTML = '<a class="ext" href="http://'+i.ip+'" target="_blank">'+i.ip+'</a>';

		var userlocCell = row.insertCell(3);
        userlocCell.innerHTML = i.userLoc;

		var cartCell = row.insertCell(4);
		cartCell.title = i.toner[4];
        cartCell.innerHTML = "<div class='cartContainer'><p class='cartBK'>"+i.toner[0]+"</p><p class='cartC'>"+i.toner[1]+"</p><p class='cartY'>"+i.toner[2]+"</p><p class='cartM'>"+i.toner[3]+"</p></div>" ;

        var statusCell = row.insertCell(5);
		statusCell.innerHTML = i.status;

        var notesCell = row.insertCell(6);
		notesCell.innerHTML = i.notes;
        var link = "http://printerwatch/subsite/details?id='+i.id+'";
		var infoCell = row.insertCell(7);
		infoCell.innerHTML = '<a href="http://printerwatch/subsite/details?id='+i.id+'&user={{user}}" target="content_frame"><div class="detailLink" style="background-color:'+i.uptodate+'" onclick="location.href="'+link+'">i</div></a>';
		}}


        function xfunc(){
        alert("Hi")
        }
        </script>
</body>
</html>