<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserManagment</title>

    <link rel="stylesheet" href="http://printerwatch/static/css/style.css">
    <script src="{% static 'js/formcreator.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <style>
           .headInput{
            padding: 0;
			margin: auto;
			width: 90%;

			background-color: darkgrey;
            text-align: center;#text-size: 14;
            color: lightorange;
			}
    </style>

</head>
<body onload="insertRow()" id="body">
<div  class="headInput" id="formContainer">
<script> createForm({{ form|safe }}); </script>
<input type="hidden" form="inputForm" name="user" id="user" value="{{ user }}">
</div>
<input type="hidden" form="rem" name="user" value="{{ user }}">
</body>
</html>