<div class="obj">
	<form method="POST" name="printer" id="printer" action="">{% csrf_token %}
	  <input type="hidden" name="create" value="printer">
    <div class="row">
      <h1>Add new Printer:</h1>
    </div>
    <div class="row">
      <p>it is possible to add multiple printer at once <br>
         just keep the ips seperated by ' ' or ','.</p>
    </div>
    <div class="row">
	  
	    <span class="key">Enter IPs: </span> <input type="text" id="ip" name="ip" value="">
	    
	  </div>
	  <div class="row">
	    <input type="submit" id="btnsubmit" value="Save" class="btn big spaceing" name="add_printer"/>
	  </div>
  </form>
  
  	<form method="POST" name="cart" id="cart" action="">{% csrf_token %}
	  <input type="hidden" name="create" value="cart">
    <div class="row">
      <h1>Add new Cartridge:</h1>
    </div>
    <div class="row">
      <span class="key">Name: </span><input type="text" name="name" id="name" value="" form="cart">
    </div>
    <div class="row">
      <span class="key">Manufacturer: </span><input type="text" name="manufacturer" id="manufacturer" value="" form="cart">
    </div>
    <div class="row">
      <span class="key">Color: </span>
      <select name="color" id="color" value="" form="cart">
          <option value="B">Black</option>
          <option value="C">Cyan</option>
          <option value="M">Magenta</option>
          <option value="Y">Yellow</option>
      </select>
    </div>
	  <div class="row">
	    <input type="submit" id="btnsubmit" value="Save" class="btn big spaceing" name="add_cart" form="cart">
	  </div>
  </form>
  
</div>

