<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PrinterWatch Main</title>
    <link rel="stylesheet" href="http://printerwatch/static/css/mainframe.css">
    <script>
        function onHover()
        {
            let cc = {{ cc|safe }}
            if ( cc == 1 )
            {
                document.getElementById('running').style="background-color:green; text-align:center; display:block";
            }
            else if ( cc == 0 )
            {
                document.getElementById('running').style="background-color:green; text-align:center; display:block";
            }
        }

        function nonHover()
        {
            document.getElementById('running').style.display = "none";
            document.getElementById('running').style.visibility = "hidden";
        }

        function run()
        {
            let cc = {{ cc|safe }}
            if ( cc == 1 )
            {
                document.getElementById('pw-logo').src='http://printerwatch/static/img/logo.png';
            }
            else if ( cc == 0 )
            {
                document.getElementById('pw-logo').src='http://printerwatch/static/img/logo_bw.png';}
            }
    </script>
</head>
<body onload="run()">
    <div style="position:absolute; top:0px; left:0px; width: 10%">
        <logo>
            <a href="http://printerwatch/main/">
                <img src="http://printerwatch/static/img/logo_bw.png" id="pw-logo" class="logo_img" width="100%" height="100%"
               onmouseover="onHover()" onmouseleave="nonHover()">

            </a>
            <div id="running" style="color:grey; display:none;">
            last updated: </br> {{ ts }}
            </div>
        </logo>
        <nav>
            <script>
            function click(){
            }

        </script>
                <a href="http://printerwatch/subsite/monitor/?user={{Ur}}" class="nlink" target="content_frame">PrinterMonitor</a>
                </br>
                <a href="http://printerwatch/subsite/storage_tracker/?user={{Ur}}" class="nlink" target="content_frame">CartStorage</a>
                </br>
                <a href="http://printerwatch/subsite/analytics/?user={{Ur}}" class="nlink" target="content_frame">Analytics</a>
                </br>
                <a href="http://printerwatch/subsite/deviceMgr/?user={{Ur}}" class="nlink" target="content_frame">DeviceMgr</a>
                </br>
                <a href="http://printerwatch/subsite/userMgr/?user={{Ur}}" class="nlink" target="content_frame">UserMgr</a>
                </br>
                <!--
                <a href="http://printerwatch/sandbox/?user={{Ur}}" class="nav" target="content_frame">sandbox</a>
                -->

        </nav>
    </div>
<div style="position:absolute; top:0px; left:10%; width:90%; height:100%;">

    <content>
        <iframe src="http://printerwatch/subsite/monitor/?user={{Ur}}" name="content_frame" height="100%" width="100%" titel="content_frame"></iframe>
    </content>
</div>
</body>
</html>

