<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="http://printerwatch/static/css/style.css">

</head>
<body style="background-color:rgb(33,33,33)">
<img src="http://printerwatch/static/img/lock.png" id="pw-logo" class="logo_img" width="300" height="150" style="width:40%; margin-left:30%; top:0; padding:5px; float:top">
<form action="http://printerwatch/sandbox/" method="post">
    {% csrf_token %}
    <div  class="headInput" style="width:40%; margin:auto; padding:5px; float:top">
    <div style="margin:0 25px; float:top;">
    <label class="label" style="float:left">User: </label>
    <input type="text" id="user" name="user" style="width:60%; padding-right:25px; float:right">
    </div>    </br>
    <div style="margin:0 25px; float:top;"><label class="label" style="float:left">Password: </label>
    <input type="password" id="pass" name="pass" style="width:60%; padding-right:25px; float:right">
    </div>    </br>
    <input type="submit" value="Enter" style="width:100%">
    </div>
</form>
</body>
</html>