{% load static %}
<!DOCTYPE html>
<html>
	<head>
	
		<title>PrinterWatch - Plot</title>
		<meta charset="UTF-8">
		<meta name="author" content="Raze Vortex">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ui.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		
</head>

  

<body>
	  <div class="topbar">
	  {% include "home/navi.html" %}

    <div class="toprow">
    
        <div class="inputbox" id="_search">
		    <span> Search: </span> <input type="text"  name="search" value="{{ search }}" form="uiform">
        </div>    

        <div class="inputbox" id="_daterange">
		    <span> Start: </span> <input type="date" name="past" id="_daterange0" value="{{ past }}" form="uiform">
		    <span> End: </span> <input type="date" name="befor" id="_daterange1" value="{{ befor }}" form="uiform">
        </div>

        <div class="inputbox" id="_interval">
		    <span> Intervall (Days): </span> <input type="number" name="interval" min="2" max="" value="{{ interval }}" form="uiform">
        </div>

	      <div class="inputbox" id="_key">
        <span> Plotted Val: </span> 
	      <select name="key" value="{{ key }}" form="uiform">
          <option value="Prints"{% if key == "Prints" %} selected{% endif %}>Prints</option>
		      <option value="ColorPrints"{% if key == "ColorPrints" %} selected{% endif %}>ColorPrints</option>
          <option value="Copies"{% if key == "Copies" %} selected{% endif %}>Copies</option>
		      <option value="ColorCopies"{% if key == "ColorCopies" %} selected{% endif %}>ColorCopies</option>
		      <option value="Carts"{% if key == "Carts" %} selected{% endif %}>Carts</option>
        </select>
        </div>
        
	      <div class="inputbox" id="_increasing">
		    <span> Increment Val: </span> <input type="checkbox" id="incr" name="incr" form="uiform" {% if incr %}checked="checked"{% else %}unchecked{% endif %}>
	      <span> Group Val: </span> <input type="checkbox" id="incr" name="group" form="uiform" {% if group %}checked="checked"{% else %}unchecked{% endif %}>
        </div>
   
    </div>
    
    <div class="toprow">
	      <form id="uiform" method="POST" target="_top" action="http://servme/plot/">{% csrf_token %}</form>    
        <button class="btn big" type="submit" value="Submit" form="uiform">
            Apply    
        </button>
    </div>
</div>

<div class="can">
<canvas id="canvas"></canvas>
</div>
    <script>
        new Chart(
        document.getElementById('canvas'),
        {
            type: {{ type|safe }},
            data: {{ data|safe }}
        });
    </script>


</body>
</html>
